.table tbody, .table thead {
    border-top: 0 !important;
}

.table-header h5 {
    padding: 6px;
    margin: 0;
}


.table-header .btn.btn-primary{
    position: absolute;
    transform: translate(0,-100%);
    margin-top: -2px;
    left: 5px;
    font-weight: 500;
    padding: 3px 12px;
}

.table-l {
    line-height: 14px;
    font-size: 13px;
}

.table-l th {
    border-bottom: 0 !important;
}